<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".SettleXApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SettleX">

        <!-- Firebase Messaging Service -->
        <service
            android:name=".data.remote.messaging.AppFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--  Dashboard -->
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <!-- Handles app:// URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="settlex"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.home.CreatePaymentIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.account.activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.TransactionStatusActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.PayAFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.CableTvSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.BettingTopUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.DataPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.AirtimePurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.CommissionWithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.ReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.home.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.PasswordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.components.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.info.legal.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.info.legal.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.info.help.AuthHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.PinLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SettleX.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>