<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Browsers for opening promo links -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".SettleXApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SettleX">
        <activity
            android:name=".ui.dashboard.services.CableTvSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.BettingTopUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.DataPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.services.AirtimePurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.activity.CommissionWithdrawalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.activity.ReceiveMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.activity.TransactionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.activity.DashboardActivity"
            android:exported="true">

            <!-- Handles app:// URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="settlex"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.activity.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.PasswordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.components.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.info.legal.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.info.legal.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.info.help.AuthHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.PinLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Onboarding.activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SettleX.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>